{% extends "base.html" %}
{% load static%}

{% block titulo %}
<title Carta de navidad></title>
{% endblock %}



{% block contenido %}
<div class="alert alert-danger display-1 text-center">
    Carta de Navidad
</div>

<div class="alert alert-light text-center">
    Primero que todo lo saludo, buenos dias Profesor Pedro Gaete, esperando que se encuentre bien y este terminando el año feliz.
    Bueno el motivo de esta carta es porque como ya todos sabemos nos encontramos a dias de navidad una fecha llena de amor y solidaridad, donde
    a su vez se entregan regalos como presentes a quien queremos o amamos, bueno como usted sabe tambien nos encontramos rindiendo una evaluacion la cual
    son 2 notas valiendo asi un %60 de la asignatura, algo muy importante. Usted podra pensar que con esta carta le pedire que me evalue bien o con una nota alta 
    pero no solo quiero que me evalue como corresponde, pero que esta pequeña carta lo ha hecho reir en estos momentos donde todos andamos muy estresados.
    Espero que pase una feliz navidad con su familia y un prospero año nuevo. 
    <p> Se despide                                                                                            Atte. Rodrigo Hauri </p>
    
</div>

<div class="container">
    <div class="row align-items-start">

      <div class="col">
        <div class="p-3 mb-2 text-white">
            <center>
                <a title="" href="/carta"> <img src="{%static "images/papa.gif"%}" width="250" height="250" ></div>
            </center>
        </div>
      </div>
    </div>

{% endblock %}s